body {
  font-family: 'Baloo Bhai', cursive;
  background-color: brown;
  font-size: 20px;
}

h1 {
  color: darkgrey;
  text-align: center;
  font-size: 40px;
}

.dog {
  float: left;
  width: 20%;
  margin: 2%;
  border: 10px orange solid;
  background-color: darkgreen;
  padding: 15px;
}

.dog img {
  max-width: 100%;
  height: auto;
}

.dog p a {
  color: #FFD700
}

.dog h2 {
  text-align: center;
  color: lightblue;
}

.mail {
  float: left;
  border: 5px black dotted;
  font-family: monospace;
  position: fixed;
  top: 800px;
  left: 90%;
}
